<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:calculator.properties"/>

    <bean id="additionBean"
          class="my.babicev.firstSpringProject.calculator.Addition">
        <constructor-arg value="7" index="0" type="java.lang.Double"/>
        <constructor-arg value="12" index="1" type="java.lang.Double"/>
    </bean>

    <bean id="subtractionBean"
          class="my.babicev.firstSpringProject.calculator.Subtraction">
        <constructor-arg value="7" index="0" type="java.lang.Double"/>
        <constructor-arg value="12" index="1" type="java.lang.Double"/>
    </bean>

    <bean id="multiplicationBean"
          class="my.babicev.firstSpringProject.calculator.Multiplication">
        <constructor-arg value="7" index="0" type="java.lang.Double"/>
        <constructor-arg value="12" index="1" type="java.lang.Double"/>
    </bean>

    <bean id="actionList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="additionBean"/>
                <ref bean="subtractionBean"/>
                <ref bean="multiplicationBean"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id = "calculator"
          class="my.babicev.firstSpringProject.calculator.Calculator">
        <!--property name="calcAction" ref="calcBean"/-->
        <property name="accuracy" value="${calculator.accuracy}"/>
        <property name="calcName" value="${calculator.calcName}"/>
        <property name="actionList" ref="actionList"/>
    </bean>

</beans>